{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
<!-- PUBLICATIONS -->
  <div id="section-publications" class="o-container   wow1 fadeIn"  data-contentPosition="4">

    <div class="c-screen-publications o-screen-publications">
      <div class="o-screen-publications__col">
        <div class="c-article">

            {% for solution in solutions %}
          <div class="c-article__item">
            <div class="c-article__body">
              <h3 class="c-article__header">{{ solution.chapter }}</h3>
              <div class="c-article__button">
                <a href="{{ solution.file.url }}" class="c-button c-button--simple-text">Download</a><i class="icofont icofont-external-link"></i>
              </div>
            </div>
          </div>
            {% endfor %}

      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}