{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
<!-- PUBLICATIONS -->
  <div id="section-publications" class="o-container   wow1 fadeIn"  data-contentPosition="4">

    <div class="c-screen-publications o-screen-publications">
      <div class="o-screen-publications__col">
        <div class="c-article">
          <div class="c-article__item">
            <figure class="c-article__image">
              <img src="{% static 'pic/1_7eba346b0910fb6b4b5716802ff437e0.jpg' %}" alt="">
            </figure>
            <div class="c-article__body">
              <h3 class="c-article__header">How can we prevent a glaciers melting?</h3>
              <p class="c-article__cite">Ecology & Safety, Volume 10, 2016</p>
              <p class="c-article__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <div class="c-article__button">
                <a href="#" class="c-button c-button--simple-text">Read the article</a><i class="icofont icofont-external-link"></i>
              </div>
            </div>
          </div>
          <div class="c-article__item">
            <figure class="c-article__image">
              <img src="{% static 'pic/Molecula.jpg' %}" alt="">
            </figure>
            <div class="c-article__body">
              <h3 class="c-article__header">Global warming: how to prevent a catastrophe. Arguments and conclusions.</h3>
              <p class="c-article__cite">Ecology & Safety, Volume 10, 2016</p>
              <p class="c-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
              <div class="c-article__button">
                <a href="#" class="c-button c-button--simple-text">Read the article</a><i class="icofont icofont-external-link"></i>
              </div>
            </div>
          </div>
          <div class="c-article__item">
            <figure class="c-article__image">
              <img src="{% static 'pic/138301.jpg' %}" alt="">
            </figure>
            <div class="c-article__body">
              <h3 class="c-article__header">What type of proteins are useful?</h3>
              <p class="c-article__cite">Ecology & Safety, Volume 10, 2016</p>
              <p class="c-article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <div class="c-article__button">
                <a href="#" class="c-button c-button--simple-text">Read the article</a><i class="icofont icofont-external-link"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="u-text-right">
          <a href="#" class="c-button c-button--primary">More Articles</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}