{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
 <!-- RESEARCH -->
  <div class="o-container   wow1 fadeIn" data-contentPosition="3">
    <div class="c-screen-research o-screen-research">
      <div class="o-screen-research__col">
        <div class="c-card o-screen-research__cards js-cards">

            {% for topic in research %}
          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont {{ topic.icon }}"></i>
              </div>
              <h4 class="c-card__header">{{ topic.research }}</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">{{ topic.short_description }}</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">{{ topic.full_description }}</p>
                  {%  if topic.link %}
                <p class="c-card__link-caption">Check my project:</p>
                <a class="c-card__link" href="#">{{ topic.link }}</a>
                  {%  endif %}
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>
            {% endfor %}

          <div class="c-card__item c-card__item--text-only" style="background-image:url({% static 'img/deco-triangle--gold.png'%})">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__content">
                <p class="c-card__text">I am really interested in all of these topics, if you fell like we can collaborate feel free to contact me.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}