{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
 <!-- RESEARCH -->
  <div class="o-container   wow1 fadeIn" data-contentPosition="3">
    <div class="c-screen-research o-screen-research">
      <div class="o-screen-research__col">
        <div class="c-card o-screen-research__cards js-cards">

          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont icofont-addons"></i>
              </div>
              <h4 class="c-card__header">Molecular Food Research</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p class="c-card__link-caption">Check my projects:</p>
                <a class="c-card__link" href="#">Investigation of rabbit’s neuronal reaction</a>
                <a class="c-card__link" href="#">What is the main factor of peoples agression?</a>
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>

          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont icofont-test-tube-alt"></i>
              </div>
              <h4 class="c-card__header">Chemical Substance</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p class="c-card__link-caption">Check my projects:</p>
                <a class="c-card__link" href="#">Investigation of rabbit’s neuronal reaction</a>
                <a class="c-card__link" href="#">What is the main factor of peoples agression?</a>
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>

          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont icofont-earth"></i>
              </div>
              <h4 class="c-card__header">Ecology Problems</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p class="c-card__link-caption">Check my projects:</p>
                <a class="c-card__link" href="#">Investigation of rabbit’s neuronal reaction</a>
                <a class="c-card__link" href="#">What is the main factor of peoples agression?</a>
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>

          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont icofont-sand-clock"></i>
              </div>
              <h4 class="c-card__header">Time Management</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p class="c-card__link-caption">Check my projects:</p>
                <a class="c-card__link" href="#">Investigation of rabbit’s neuronal reaction</a>
                <a class="c-card__link" href="#">What is the main factor of peoples agression?</a>
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>

          <div class="c-card__item c-card__item--text-only" style="background-image:url({% static 'img/deco-triangle--blue.png'%})">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__content">
                <p class="c-card__text">I am really interested in social research such as psychological experiments, behavioral principles and interpersonal relations.</p>
              </div>
            </div>
          </div>

          <div class="c-card__item js-toggle-modal">
            <div class="c-card__sizer"></div>
            <div class="c-card__inner">
              <div class="c-card__icon">
                <i class="icofont icofont-brain"></i>
              </div>
              <h4 class="c-card__header">Biological Research</h4>
              <div class="c-card__content js-card-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="c-card__modal-content js-card-modal-content">
                <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p class="c-card__link-caption">Check my projects:</p>
                <a class="c-card__link" href="#">Investigation of rabbit’s neuronal reaction</a>
                <a class="c-card__link" href="#">What is the main factor of peoples agression?</a>
              </div>
            </div>
            <div class="c-card__button">
              <button class="c-card__button-field" type="button"></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}