{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
<!-- TEACHING -->
  <div id="section-teaching" class="o-container   wow1 fadeIn"  data-contentPosition="5">

    <div class="c-screen-teaching o-screen-teaching">
      <div class="o-screen-teaching__col">
        <nav class="c-tabs  js-tabs">
          <div class="c-tabs__item">
            <input class="u-visuallyhidden" id="tab1" type="radio" name="tabs" checked>
            <label class="c-tabs__header" for="tab1">Undergraduate courses</label>
            <div class="c-tabs__content">
              <ul class="c-tabs__list">
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Economy (Seminario de Titulación)</h4>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Development (PLSC 44612)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-tabs__item">
            <input class="u-visuallyhidden" id="tab2" type="radio" name="tabs">
            <label class="c-tabs__header" for="tab2">PhD seminars</label>
            <div class="c-tabs__content">
              <ul class="c-tabs__list">
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Economy (Seminario de Titulación)</h4>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-tabs__item">
            <input class="u-visuallyhidden" id="tab3" type="radio" name="tabs">
            <label class="c-tabs__header" for="tab3">Summer Courses</label>
            <div class="c-tabs__content">
              <ul class="c-tabs__list">
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Economy (Seminario de Titulación)</h4>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
                <li>
                  <h4>Cource of Upper level seminar: Experiments in Political Science and Political Economy (Seminario de Titulación)</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
</main>
{% endblock %}