{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="o-main">
<!-- TEACHING -->
  <div id="section-teaching" class="o-container   wow1 fadeIn"  data-contentPosition="5">

    <div class="c-screen-teaching o-screen-teaching">
      <div class="o-screen-teaching__col">
      {% if categories %}
        <nav class="c-tabs  js-tabs">
            {% for categorie in categories %}
          <div class="c-tabs__item">
            <input class="u-visuallyhidden" id="tab1" type="radio" name="tabs" checked>
            <label class="c-tabs__header" for="tab1">{{ categorie.level }}</label>
            <div class="c-tabs__content">
              <ul class="c-tabs__list">
                  {% for class in classes  %}
                      {% if class.level == categorie.level %}
                          <li>
                  <h4><a href="{% url 'resources' class.id %}">{{ class.topic }}</a></h4>
                  <p>{{ class.description }}</p>
                </li>
                      {% endif %}
                      {% endfor %}
              </ul>
            </div>
          </div>
            {% endfor %}
        </nav>
          {% else %}
          <p>No teaching archive found</p>
      {% endif %}
      </div>
    </div>

  </div>
</main>
{% endblock %}